@media only screen and (max-width: 767px){
    /*carousel item*/
    .ps .heading{
        text-align: center!important;
        font-size: 14px;
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .ps .heading button{
        width: 100%;
    }
    .ps .order{
        order: 2;
    }
    .swiper-navBtn{
        font-size: 10px!important;
    }
    .hero-carousel{
        padding-top: 40px;
    }
    .contentps{
        padding: 70px 10px;
        text-align: center;
    }
    .contentps .text-box h1{
        font-size: 25pt;
        -webkit-text-stroke-width: 1px;
    }
    .text-box{
        padding: 40px 0 60px 0;
    }
    .contentps .text-box p{
        font-size: 10pt;
    }
    .inbox-test{
        padding: 0 15px;
    }
    .hero-carousel{
        padding-top: 100px;
    }
    .video-background video {
        
    }
    .video-background{
        position: absolute;
    }
    /*carousel item end*/

    /* hero-section */
    .hero .title{
        font-size: 30px!important;
    }
    .hero .subtitle{
        font-size: 15px!important;
    }
    .hero .swiper-slide{
        justify-content: space-evenly;
    }
    .hero .item-body{
        padding: 150px 20px 0 20px;
    }
    .item-body .col-md-6{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .hero button{
        padding: 10px;
        outline-offset: 3px;
    }

}