@media only screen and (max-width: 767px){
    /* pyae sone carousel 1 */
    .ps .heading{
        text-align: center;
        font-size: 14px;
        padding-left: 0!important;
    }
    .ps .heading button{
        width: 100%;
    }
    :root {   --swiper-navigation-size: 44px;}
}